<nav>
    <h3 class="logo">Glycemonie</h3>
     <ul>
                <li><a [routerLink]="['/']">Home</a></li>
                <li><a [routerLink]="['/glycemie']">show all</a></li>
                <li><a [routerLink]="['/']">Test</a></li>
            </ul>
            <div class="icon-div">
                <a class="icon" href=""><img class="icon"src="https://i.ibb.co/vmTGNL4/youtube.png">
                </a>
                <a href="" class="icon"><img class="icon" src="https://i.ibb.co/ZWfKq7T/twitter-1.png">
                </a>
                <a href="" class="icon"><img class="icon" src="https://i.ibb.co/tHz4LxQ/twitter.png">
                </a>
            </div>
        </nav>