
<div class="divc">
<div class="card " style="width: 13rem;" *ngFor="let glycemie of listOfGlycemie">
    <ul class="list-group list-group-flush" >
      <li class="list-group-item" scope="row">{{glycemie.id}}</li>
      <li class="list-group-item">{{glycemie.date}}</li>
      <li class="list-group-item">{{glycemie.time}}</li>
      <li class="list-group-item">{{glycemie.level}}</li>
      <div class="btn" >
        <button type="button" style="margin: 0 15px 0 15px;" class="btn btn-outline-danger btn2" (click)="delete(glycemie.id)" onClick="window.location.reload();">Delete</button>
        <button type="button" style="margin: 0 15px 0 15px;" class="btn btn-outline-success btn2" [routerLink]="['/update',glycemie.id]">Update</button>

      </div>
        

</ul>
  </div>
</div>

  <button type="button" class="btn btn-outline-primary btn2 " id="btncli" (click)="showAddGlycemie()" >Add Glycemie</button>
<br><br>

    
<div *ngIf="show" class="form">
    <form [formGroup]="glycemieForm" (ngSubmit)="handelSubmit()" >


  <label>
Date    <input class="form-control form-control-sm" type="date"  formControlName="date">
  </label>
  <br>

  <label>
    Time
    <input class="form-control form-control-sm" type="time"  formControlName="time">
  </label>
  <br>
  <label>
    sugerLevel
    <input class="form-control form-control-sm" type="number" placeholder=".form-control-sm" formControlName="level">
  </label>
  <br>

  <input type="submit" class="btn btn-outline-primary" value="Add This Todo">
</form>
</div>